<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://k-pos-system-api-func-abcydpc4b9g5a7hh.japanwest-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0cb45635-5e91-42f9-99b6-3fd9d8a11429/resourceGroups/pos-rg/providers/Microsoft.Web/sites/k-pos-system-api-func</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://k-pos-system-api-func-abcydpc4b9g5a7hh.scm.japanwest-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>